import(stats)
import(graphics)
import(grDevices)
import(utils)
S3method(print,rsmFlow_fit)
S3method(summary,rsmFlow_fit)
S3method(predict,rsmFlow_fit)
S3method(predict,rsmFlow_surrogate)
S3method(print,rsmFlow_design_audit)
S3method(print,rsmFlow_canonical)
S3method(print,rsmFlow_optimum)
S3method(plot,rsmFlow_fit)
export(rsm_design)
export(rsm_code)
export(rsm_decode)
export(rsm_fit)
export(rsm_design_audit)
export(rsm_orthogonality)
export(rsm_rotatability)
export(rsm_prediction_variance)
export(rsm_compare_designs)
export(rsm_augment)
export(rsm_lack_of_fit)
export(rsm_diagnostics)
export(rsm_canonical)
export(rsm_steepest)
export(rsm_ridge)
export(rsm_optimize)
export(rsm_optimum_ci)
export(rsm_optimum_region)
export(rsm_near_optimal)
export(rsm_desirability)
export(rsm_multiopt)
export(rsm_pareto)
export(rsm_robust_optimize)
export(rsm_economic_optimum)
export(rsm_plot)
export(rsm_plot_optimum_uncertainty)
export(rsm_slices)
export(rsm_explain)
export(run_rsm_app)
export(rsm_cv)
export(rsm_optimum_stability)
export(rsm_surrogate)
export(rsm_surrogate_optimize)
export(rsm_bayes_opt)
export(rsm_fds)
export(rsm_vdg)
export(rsm_profile)
export(rsm_perturbation)
export(rsm_overlaid_contour)
export(rsm_desirability_surface)
export(rsm_plot_pareto)
S3method(plot,rsmFlow_profile)
S3method(plot,rsmFlow_perturbation)
S3method(plot,rsmFlow_fds)
S3method(plot,rsmFlow_vdg)
S3method(plot,rsmFlow_overlaid)
S3method(plot,rsmFlow_desirability_surface)
S3method(plot,rsmFlow_slices)
S3method(print,rsmFlow_glm)
S3method(summary,rsmFlow_glm)
S3method(predict,rsmFlow_glm)
S3method(plot,rsmFlow_glm)
S3method(print,rsmFlow_nonlinear)
S3method(summary,rsmFlow_nonlinear)
S3method(predict,rsmFlow_nonlinear)
S3method(plot,rsmFlow_nonlinear)
export(rsm_glm_fit)
export(rsm_glm_dispersion)
export(rsm_glm_diagnostics)
export(rsm_glm_lack_of_fit)
export(rsm_glm_canonical)
export(rsm_nonlinear_models)
export(rsm_nonlinear_start_ga)
export(rsm_nonlinear_start_multistart)
export(rsm_nonlinear_fit)
export(rsm_nonlinear_diagnostics)
export(rsm_compare_engines)
export(rsm_compare_optima)
